<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635083347046-nq0snv9471d43f99n7cvg6561q2uo9ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635083347046-nq0snv9471d43f99n7cvg6561q2uo9ph</string>
	<key>API_KEY</key>
	<string>AIzaSyCWh2TWyF7TkiqZE7TRssjYSQMLQgXn4ew</string>
	<key>GCM_SENDER_ID</key>
	<string>635083347046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school.cesar.firebase.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-26d2f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-26d2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635083347046:ios:bdb44592533a76281e49a7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-26d2f.firebaseio.com</string>
</dict>
</plist>